#upload {
    width: 600px;
    height: 200px;
    margin: 0 auto;
    /*border: 1px solid red;*/
    position: relative;
    cursor: pointer;
}

#select-file {
    border: 1px solid;
    width: 560px;
    height: 180px;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.select-file-style {
    background: #F5F7FA;
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 200px;
    border: 8px dashed #ddd;
    pointer-events: none;
    color: #AAB2BD;
    font-size: 2em;
    font-family: "Microsoft YaHei", "Tahoma", arial;
}