/*nav*/
body {
  font: 14px/1.42857 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
}
nav {
  height: 48px;
  width: 100%;
  background: #3bafda;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  /*li:hover {
    background-color: @nav-hover;
  }*/
}
nav .first-menu {
  margin-left: 2em;
}
nav ul {
  background: #3bafda;
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  line-height: 48px;
  height: 48px;
  margin: 0 1em;
  padding: 0;
}
nav a:hover {
  color: #fff;
}
nav a#openup {
  display: none;
}
@media screen and (max-width: 480px) {
  nav {
    border-bottom: 0;
  }
  nav .first-menu {
    margin-left: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav li:first-child {
    border-top: 1px solid #fff;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 20px;
    background: #3bafda;
    margin: 0;
  }
  nav a:hover {
    background: #3bafda;
    color: #fff;
  }
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 40px;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 15px;
  }
  nav a#openup {
    font-size: 16px;
    display: block;
    background-color: #3bafda;
    width: 100%;
    height: 46px;
    position: relative;
  }
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
/* Upload */
#upload {
  width: auto;
  z-index: 3;
  margin-top: 58px;
  position: relative;
  background: #F5F7FA;
  border: 2px dashed #ddd;
}
#fold {
  display: block;
  position: absolute;
  right: 0.2em;
  color: #ccc;
  top: 0px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.upload-area {
  width: auto;
  height: 200px;
  margin: 0 2.6em 0 0.4em;
  padding: 0;
  position: relative;
  cursor: pointer;
  transition: height 0.5s;
}
.upload-area .select-file {
  border-width: 0px;
  width: 100%;
  height: 200px;
  margin: 0;
  cursor: pointer;
  transition: height 0.5s;
}
.upload-area .select-file-style {
  background: #F5F7FA;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  border: 0px;
  pointer-events: none;
  color: #AAB2BD;
  font-size: 2em;
  line-height: 2em;
  font-family: "Microsoft YaHei", "Tahoma", arial;
  transition: height 0.5s, font-size 0.5s, border-width 0.5s, line-height 0.5s;
}
.upload-area-close {
  height: 28px;
  overflow: hidden;
}
.upload-area-close .select-file {
  height: 28px;
}
.upload-area-close .select-file-style {
  height: 28px;
  font-size: 1em;
  line-height: 1em;
}
@media screen and (max-width: 520px) {
  #upload .upload-area {
    height: 150px;
  }
  #upload .upload-area .select-file {
    height: 150px;
  }
  #upload .upload-area .select-file-style {
    height: 150px;
    font-size: 1.2em;
  }
  #upload .upload-area-close {
    height: 28px;
    overflow: hidden;
  }
  #upload .upload-area-close .select-file {
    height: 28px;
  }
  #upload .upload-area-close .select-file-style {
    height: 28px;
    font-size: 1em;
    line-height: 1em;
  }
}
#img-upload {
  position: relative;
  background: #F5F7FA;
  border: 2px dashed #ddd;
}
#img-upload .upload-area {
  margin: 0;
}
.remodal-custom {
  padding: 20px;
}
.modal-header {
  margin-bottom: 20px;
}
.modal-header span {
  font-size: 1em;
  line-height: 1.2em;
}
